doctype html
html
  head
    title Contact Us
    link(rel="stylesheet", href="/style.css")
  body
    nav
      a(href="/") Home
      a(href="/services") Our Services
      a(href="/contact") Contact Us

    h1 Contact Us
    p Reach us via:
    ul
      li
        a(href="https://instagram.com", target="_blank") Instagram
      li
        a(href="https://facebook.com", target="_blank") Facebook
      li
        a(href="mailto:restaurant@example.com") Email Us
