doctype html
html
  head
    title Home
    link(rel="stylesheet", href="/style.css")
  body
    nav
      a(href="/") Home
      a(href="/services") Our Services
      a(href="/contact") Contact Us

    .hero
      h1 Welcome to Our Restaurant
      a.button(href="/services") Explore Our Services

    .chef
      h2 Our Chef
      p Meet our world-renowned chef with 20+ years of experience in Italian cuisine.

    .scroll-btn
      a(href="/contact") Contact Us
