doctype html
html
  head
    title Services
    link(rel="stylesheet", href="/style.css")
  body
    nav
      a(href="/") Home
      a(href="/services") Our Services
      a(href="/contact") Contact Us

    h1 Our Menu

    .menu
      .item
        h2 Pizza
        p Classic cheese & pepperoni – 1200 DZD
      .item
        h2 Pasta
        p Creamy Alfredo with mushrooms – 1000 DZD
      .item
        h2 Fried Chicken
        p Crispy and juicy chicken bucket – 1500 DZD

    .scroll-btn
      a(href="/contact") Go to App
